body{
    background-image: url(assets/backgroundImage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.clock {
    color: white;
    font-size: 6rem;
    font-weight: bold;
    font-00
}